:host,
.e-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.e-icon {
  width: var(--eIconWidth, space(3));
  height: var(--eIconHeight, space(3));

  &--xxl {
    width: space(7);
    height: space(7);
  }

  &--xl {
    width: space(5);
    height: space(5);
  }

  &--lg {
    width: space(4);
    height: space(4);
  }

  &--md {
    width: space(3);
    height: space(3);
  }

  &--sm {
    width: space(2);
    height: space(2);
  }

  &--xs {
    width: space(1);
    height: space(1);
  }

  svg {
    width: 100%;
    height: 100%;

    path:not([stroke]) {
      fill: var(--eIconColor, var(--color-black));
      transition: var(--eIconTransition, fill 200ms ease-out);
    }

    path[stroke] {
      stroke: var(--eIconColor, var(--color-black));
      stroke-width: var(--eIconStrokeWidth, 2px);
      transition: var(--eIconTransition, stroke 200ms ease-out);
    }
  }
}
