// @font-face {
//   font-display: block;
//   font-family: 'MarckScript';
//   font-style: normal;
//   font-weight: 400;
//   src: url('static/fonts/MarckScript/MarckScript-Regular.ttf') format('truetype');
// }

@font-face {
  font-display: block;
  font-family: 'FuzzyBubbles';
  font-style: normal;
  font-weight: 400;
  src: url('static/fonts/FuzzyBubbles/FuzzyBubbles-Regular.ttf') format('truetype');
}

@font-face {
  font-display: block;
  font-family: 'FuzzyBubbles';
  font-style: normal;
  font-weight: 700;
  src: url('static/fonts/FuzzyBubbles/FuzzyBubbles-Bold.ttf') format('truetype');
}

// @font-face {
//   font-display: block;
//   font-family: 'TwinkleStar';
//   font-style: normal;
//   font-weight: 400;
//   src: url('static/fonts/TwinkleStar/TwinkleStar-Regular.ttf') format('truetype');
// }
