@use '../../styles/tools/tools.margins.scss' as *;
@use '../../styles/tools/tools.typography.scss' as *;

:host {
  --bg-color: var(--color-primary);
  --font-color: var(--color-white);
  --border-color: var(--color-primary);
}

:host([outlined]) {
  --bg-color: var(--color-white);
  --font-color: var(--color-gray);
  --border-color: var(--color-gray--medium);
}

.e-button {
  @include text--large;
  color: rgba(var(--font-color), 1);
  display: inline-block;
  padding: space(2) space(3);
  border: 2px solid rgba(var(--border-color), 1);
  border-radius: 8px;
  cursor: pointer;
  background-color: rgba(var(--bg-color), 1);
  box-sizing: border-box;
  outline: 2px solid transparent;
  transition: transform 0.2s, outline-color 0.2s;

  &:active {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: scale(0.90);
  }
}
