html {
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
  --color-primary: 149, 56, 69;
  --color-gray: 77, 77, 77;
  --color-gray--medium: 192, 192, 192;
  --color-gray--light: 196, 196, 196;
  --color-gray--light-extra: 207, 207, 207;
  --color-gray--bg: 251, 251, 251;
}
