html {
  --color-white: #FFFFFF;
  --color-gray--light: #F5F5F5;
  --color-gray--medium: #C4C4C4;
  --color-gray--dark: #4d4d4d;
  --color-pink: #FADADD;
  --color-purple: #E6E0F8;
  --color-purple--medium: #D5C6E6;
  --color-yellow: #FFF5CC;
  --color-green: #D9F1DB;
  --color-peach: #FFE5D4;
  --color-blue: #DCEFFD;
}
