html {
  --color-primary: #fae3d9;
  --color-secondary: #bbded6;
  --color-red: #ffb6b9;
  --color-blue: #8ac6d1;
  --color-yellow: #fae3d9;
  --color-light: #fffaf8;
  --color-success: #00a400;
  --color-error: #ff2222;
  --color-gray: #ccc;
  --color-gray--medium: #4d4d4d;
  --color-white: #ffffff;
  --color-black: #000;
};
