@mixin heading--h1($font-weight: 700) {
  font-weight: $font-weight;
  font-size: 71px;
  line-height: 82px;
}

@mixin heading--h3($font-weight: 400) {
  font-weight: $font-weight;
  font-size: 30px;
  line-height: 35px;
}

@mixin text--large($font-weight: 400) {
  font-weight: $font-weight;
  font-size: 20px;
  line-height: 24px;
}

@mixin text--medium($font-weight: 400) {
  font-weight: $font-weight;
  font-size: 18px;
  line-height: 20px;
}

@mixin text($font-weight: 400) {
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 18px;
}
