@use './tools.margins.scss' as *;

@mixin heading--xl() {
  font-weight: 700;
  font-size: rem(40px);
  line-height: rem(35px);
}

@mixin heading--l() {
  font-weight: 700;
  font-size: rem(20px);
  line-height: rem(22px);
}

@mixin text--large($font-weight: 400) {
  font-weight: $font-weight;
  font-size: rem(18px);
  line-height: rem(21px);
}

@mixin text($font-weight: 400) {
  font-weight: $font-weight;
  font-size: rem(16px);
  line-height: rem(18px);
}
