@use '../../styles/tools/tools.margins.scss' as *;
@use '../../styles/tools/tools.typography.scss' as *;

.c-radiogroup {
  display: block;

  &__label {
    @include text(700);
    display: block;
    text-align: left;
    margin: 0 0 space(5);
    color: rgba(var(--color-gray), 1);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: space(5);
  }

  &__input {
    @include text--large(700);
    color: rgba(var(--color-gray), 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    border: 2px solid rgba(var(--color-gray--medium), 1);
    border-radius: 8px;
    padding: space(7);
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, border-color 0.2s;

    input:checked + & {
      border-color: rgba(var(--color-primary), 1);
      background-color: rgba(var(--color-primary), 0.11);
    }

    &:active {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      transform: scale(0.90);
    }
  }

  input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
  }
}
